# Django Settings
SECRET_KEY=django-insecure-your-secret-key-change-this
DEBUG=True

# Database
DB_NAME=auth_db
DB_USER=admin
DB_PASSWORD=admin123
DB_HOST=localhost
DB_PORT=5432

# URLs de servicios (para comunicación entre servicios)
AUTH_SERVICE_URL=http://localhost:8000
PROFILES_SERVICE_URL=http://localhost:8001
EVENTS_SERVICE_URL=http://localhost:8002

# Frontend
REACT_APP_AUTH_URL=http://localhost:8000
REACT_APP_PROFILES_URL=http://localhost:8001
REACT_APP_EVENTS_URL=http://localhost:8002
